body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td { margin:0; padding:0; }
body { background:#eeede8; color:#7d7d7d; font-size: .875rem; font-family: "Microsoft YaHei", "Avenir Next", Avenir, "Helvetica Neue",
Helvetica, "Nimbus Sans L", Arial, "Liberation Sans", "PingFang SC", "Hiragino Sans GB", "Source Han Sans CN",
"Source Han Sans SC", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "ST Heiti", SimHei,
"WenQuanYi Zen Hei Sharp", sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight:normal;}
a { color: #fff; text-decoration:none; }
a:hover { text-decoration:none;}
img { border:none; }
ol,ul,li { list-style:none; }
input, textarea, select, button { font:14px Verdana,Helvetica,Arial,sans-serif; border: 1px solid #999; }
table { border-collapse:collapse; }
.clearFix:after {
    content: "";
    display: block;
    clear: both;
}
i {
    font-style: normal;
}