body{
    background: url("../img/bg-body.jpg") no-repeat;
    background-size: cover;
}
/*头部开始*/
header{
    height: 80px;
    background-color: #017e5c;
    text-align: center;
    position:relative;
    color: #fff;
}
header a{
    position: absolute;
    top: 10px;
    left: 28px;
}
header  div:first-child{
    position: absolute;
    top: 20px;
    left: 28px;
}
header  div:first-child i{
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../img/icon-login.png") no-repeat;
    background-size: cover;
}
header > span:last-child{
    line-height: 80px;
}
/*头部结束*/
/*内容开始*/
.container form{
    margin-top: 26px;
    text-align: center;
}
.container form > div{
    width: 80%;
    margin: 0 auto;
    height: 60px;
    border: 1px solid #e5e5e5;
    line-height: 60px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px #ebebeb;
}
.container form > div input{
    width: 80%;
    height: 40px;
    border: none;
    margin-left: 40px;
}
.container form > div i{
    display: inline-block;
    /*width: 10px;*/
    /*height: 13px;*/
    position: absolute;
    top: 15px;
    left: 15px;
}
.container form > input{
    width: 80%;
    height: 60px;
    color: #fff;
    border: 1px solid #e5e5e5;
    background-color: #f2bd47;
    box-shadow: 0 1px #ebebeb;
}
/*内容结束*/