<div class="publicCourse">
    <div class="pubbanner"></div>
    <div class="pub clearFix">

    	<div class="public-left">
    		<div class="pub-title">
    			<span>最新公开课</span>
    			<hr />
    		</div>
    		<ul>
    			<li class="clearFix" ng-repeat="pub in pubArr track by $index">
    				<div class="public-pic"><img src="{{pub.pic}}" alt="" /></div>
    				<div class="public-detail">
    					<dl>
    						<dt>{{pub.dt}}</dt>
    						<dd class="detail">
    							<span>{{pub.detail}}</span>
    						</dd>
    						<dd>
    							<span>费用：</span>
    							<span class="money">{{pub.money}}</span>
    						</dd>
    						<dd>
    							<span>时间：</span>
    							<span>
    								{{pub.time}}
    							</span>
    						</dd>
    						<dd>
    							<span>地点：</span>
    							<span>{{pub.address}}</span>
    						</dd>
    					</dl>
    				</div>
    				<div class="public-apply">
    					<a href>立即报名</a>
    				</div>
    			</li>
    		</ul>
    	</div>
    	<div class="public-right">
    		<div class="pub-title">
    			<span>线上热销课程推荐</span>
    			<hr />
    		</div>
    		<ul>
    			<li ng-repeat="img in imgArr track by $index">
    				<div><img src="{{img.pic}}" alt="" /></div>
    				<p>{{img.count}}</p>
    			</li>
    		</ul>
    	</div>
    </div>
    
    <ul class="pagination">
        <li ng-class="{true:'hide'}[now==1]">
            <a href="javascript:void(0)"
                ng-click="changePage(now-1)"
            >上一页</a>
        </li>
        <li ng-repeat="i in pages track by $index">
            <a href="javascript:void(0)"
                ng-class="{true:'active'}[now==i+1]"
                ng-click="changePage(i+1)"
            >{{i+1}}</a>
        </li>

        <li ng-class="{true:'hide'}[now == dataNum]">
            <a href="javascript:void(0)"
                ng-click="changePage(now+1)"
            >下一页</a>
        </li>
    </ul>
</div>







